Especificações e Exemplos/soluções/N10_S3_C3_M3-solution.txt
Especificações e Exemplos/soluções/N100_S20_C30_M5-solution.txt
Especificações e Exemplos/soluções/N1000_S50_C300_M10-solution.txt
Especificações e Exemplos/soluções/N10000_S50_C300_M10-solution.txt
Especificações e Exemplos/trabalho_2_TBO.pdf
.vscode/tasks.json
